<div class="card account-card">
  <div class="card-body row">

    <div class="col-md-auto">
      <%= render 'account_nav', active: 'account' %>
    </div>

    <div class="col">
      <div class="tab-content" id="v-pills-tabContent">
        <%= render 'devise/registrations/sections/account' %>
        <%= render 'devise/registrations/sections/details' %>
        <%= render 'devise/registrations/sections/preferences' %>
        <% if @stickies %>
        <%= render 'devise/registrations/sections/threads', stickies: @stickies, root_posts: @root_posts %>
        <%= render 'devise/registrations/sections/posts', child_posts: @child_posts %>
        <% end %>
      </div>
    </div>
  </div>
</div>
