<div class="card text-light">
  <div class="card-body row">

    <div class="col-md-auto">
      <%= render 'account_nav', active: 'account' %>
    </div>

    <div class="col">
      <div class="tab-content" id="v-pills-tabContent">
        <%= render 'devise/registrations/sections/account' %>
        <%= render 'devise/registrations/sections/details' %>
        <%= render 'devise/registrations/sections/preferences' %>
        <%= render 'devise/registrations/sections/threads' %>
        <%= render 'devise/registrations/sections/posts' %>
      </div>
    </div>
  </div>
</div>
