<div class="card edit-user">
  <div class="text-icon">>_</div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field first" id="email">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email' %>
    </div>

    <div class="field" id="user-name">
      <%= f.text_field :user_name, required: true, placeholder: 'username' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field" id="password">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'new password ( length >= 6 )' %>
    </div>

    <div class="field" id="password-confirmation">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'confirm new password' %>
    </div>

    <div class="field" id="thread-theme">
      Thread display type:
      <br>
      <%= f.radio_button :thread_theme, 'full' %> 
      <%= label :thread_theme_full, 'full' %>
      <%= f.radio_button :thread_theme, 'card_big' %>
      <%= label :thread_theme_card_big, 'big card' %>
      <%= f.radio_button :thread_theme, 'card_small' %>
      <%= label :thread_theme_card_small, 'small card' %>
    </div>

    <div class="field" id="anonymous">
      Hide username 
      <%= f.check_box :anonymous %>
    </div>

    <div class="field last" id="current-password">
      <%= f.password_field :current_password, autocomplete: "off", placeholder: 'current password (required)' %>
    </div>

    <br>

    <div class="actions" id="submit">
      <%= f.submit "update account info" %>
    </div>
  <% end %>

  <br>
  
  <%= button_to "delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "delete-account" %>
</div>
