<div class="card big">

  <div class="left-nav">
    <div class="link"><a href="/account/edit">Account</a></div>
    <div class="link"><a href="/account/details">Details</a></div>
    <div class="link active"><a href="/account/preferences">Preferences</a></div>
  </div>

  <div class="content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field" id="thread-theme">
        Thread display type:
        <br>
        <%= label :thread_theme_full, 'full', class: 'inline-label' %>
        <%= f.radio_button :thread_theme, 'full' %> 
        <%= label :thread_theme_card_big, 'big card', class: 'inline-label' %>
        <%= f.radio_button :thread_theme, 'card_big' %>
        <%= label :thread_theme_card_small, 'small card', class: 'inline-label' %>
        <%= f.radio_button :thread_theme, 'card_small' %>
      </div>

      <br>

      <div class="field" id="anonymous">
        <%= label :anonymous, 'Hide username', class: 'inline-label' %>
        <%= f.check_box :anonymous %>
      </div>

      <br>

      <div class="actions" id="submit">
        <%= f.submit "update" %>
      </div>
    <% end %>
  </div>
</div>
