<div class="child-post post" id="child-<%= child_post.id %>">
  <a class="anchor" name="#<%= child_post.id %>"></a>
  <div class="post-left-col">
    <div class="post-details">
      <div class="user-name post-detail"><strong><%= root_post.user.user_name if !current_user.anonymous %><%= "Anonymous" if current_user.anonymous %></strong> </div>
      <div class="id post-detail"><a href="##<%= child_post.id %>"><strong>#<%= child_post.id %></strong></a></div>
      <div class="timestamp-created post-detail"><strong><%= child_post.created_at %></strong></div>
      <% if child_post.created_at != child_post.updated_at %>
      <div class="timestamp-edited post-detail"><strong><%= child_post.updated_at %></strong></div>
      <% end %>
    </div>
    <div class="post-body"><p><%= markdown child_post.body %></p></div>
  </div>
        

  <div class="post-right-col">
    <div class="post-links">
      <% if child_post.user.id == current_user.id %>
        <%= link_to child_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-delete" do %><i class="material-icons">delete</i><% end %>
        <%= link_to edit_child_post_path(child_post) do %> <i class="material-icons">create</i><% end %>
      <% end %>
      <%= link_to child_post do %> <i class="material-icons">link</i><% end %>
    </div>
    <% if child_post.picture.present? %>
      <div class="post-image">
        <%= link_to child_post.picture_url do %>
          <%= image_tag child_post.picture_url(:thumb) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
