<div class="card float-form">
  <div class="text-icon">>_</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field first">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
    </div>

    <div class="field last">
      <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit "Login" %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.label :remember_me, class: "inline-label" %>
        <%= f.check_box :remember_me %>
      </div>
    <% end %>
  <% end %>

  <br>
  <%= render "devise/shared/links" %>
</div>
