<%= form_with(model: room, local: true) do |form| %>
  <div class="modal-body">
    <% if room.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
            <% room.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </div>
      <% end %>

    <div class="form-group">
      <%= form.label :name, for: 'room_name' %>
      <%= form.text_field :name, class: 'form-control', id: :room_name %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
      <%= form.submit "Create", class: ['btn', 'btn-primary'] %>
    </div>
  </div>
<% end %>
