<nav class="navbar navbar-expand-lg navbar-dark side-nav" id="members-nav">
  <div class="navbar-brand">Subscribers</div>
  <hr>
  <div class="collapse navbar-collapse" id="membersList">
    <ul class="navbar-nav">
      
      <% @room.users.order(user_name: :asc).each do |user| %>
      <li class="nav-item text-light">
        <div class="username-string hash-color <%= get_user_color user.user_name %>"><%= user.user_name %></div>#<%= user.id %>
      </li>
      <% end %>
      
      <% (1..100).each do %>
        <% name = (0..10).map { (65 + rand(26)).chr }.join %>
        <li class="nav-item text-light username-string hash-color <%= get_user_color name %>">
          <%= name %>
        </li>
      <% end %>

    </ul>
  </div>
</nav>
