<%= form_with(model: root_post, local: true) do |form| %>
  <% if root_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(root_post.errors.count, "error") %> prohibited this root_post from being saved:</h2>

      <ul>
      <% root_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field subject">
    <%= form.text_field :subject, id: :root_post_subject, placeholder: 'subject' %>
  </div>

  <div class="field body">
    <%= form.text_area :body, id: :root_post_body, placeholder: 'body' %>
  </div>

  <div class="field file">
    <%= form.file_field :picture, id: :root_post_picture %>
  </div>

  <div class="actions submit">
    <%= form.submit "Create Thread" %>
  </div>
<% end %>
