<%= form_with(model: [@board, root_post], local: true) do |form| %>
  <% if root_post.errors.any? %>
    <div id="error_explanation">
      <h2></h2>

      <ul>
      <% root_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field first" id="subject">
    <%= form.text_field :subject, autocomplete: 'off', id: :root_post_subject, placeholder: 'subject' %>
  </div>

  <div class="field" id="body">
    <%= form.text_area :body, id: :root_post_body, placeholder: 'body' %>
  </div>

  <div class="field" id="file">
    <%= form.file_field :picture, id: :root_post_picture %>
  </div>

  <div class="field last" id="sticky">
    <%= form.check_box :sticky %>
    Sticky thread
  </div>

  <%= form.hidden_field :board_id %>

  <div class="actions" id="submit">
    <%= form.submit "post" %>
  </div>

<% end %>
