<%= form_with(model: [@board, root_post], local: true) do |form| %>
  <div class="modal-body">
    <% if root_post.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
        <% root_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    <% end %>

    <div class="field first" id="subject">
    </div>

    <div class="form-group">
      <%= form.label :subject, for: 'thread-subject' %>
      <%= form.text_field :subject, autocomplete: 'off', type: 'text', class: 'form-control', id: 'thread-subject' %>
    </div>

    <div class="form-group">
      <label for="thread-body">Body</label>
      <%= form.text_area :body, class: 'form-control', id: 'thread-body', rows: '3' %>
    </div>

    <div class="form-group">
      <%= form.file_field :picture, class: 'form-control-file', id: :root_post_picture %>
    </div>

    <%= form.hidden_field :board_id %>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
    <%= form.submit "Post", class: ['btn', 'btn-primary'] %>
  </div>
<% end %>
