<div class="card text-white post post-card root-post card-overlay <%= 'sticky' if root_post.sticky %><%= root_post.picture.present? ? ' has-image' : ' no-image' %><%= ' owned' if root_post.user.id == current_user.id %>" id="root-<%= root_post.id %>">
    <% if root_post.picture.present? %>
        <%= image_tag root_post.picture_url(:thumb), class: 'card-img' %>
        <div class="card-img-overlay">
            <%= link_to [board, root_post] do %><% end %>
            <% if root_post.subject != '' %><h5 class="card-title"><%= root_post.subject %></h5><% end %>
            <% if root_post.body != '' %><p class="card-text"><%= root_post.body %></p><% end %>
        </div>
    <% else %>
        <%= link_to [board, root_post] do %><% end %>
        <% if root_post.subject != '' %><div class="card-header"><%= root_post.subject %></div><% end %>
        <% if root_post.body != '' %><div class="card-body"><p class="card-text"><%= root_post.body %></p></div><% end %>
    <% end %>
</div>
