<div class="card text-white post post-card root-post card-normal <%= 'sticky' if root_post.sticky %><%= root_post.picture.present? ? ' has-image' : ' no-image' %><%= ' owned' if root_post.user.id == current_user.id %>" id="root-<%= root_post.id %>">
    <% if root_post.picture.present? %>
        <%= link_to root_post.picture_url do %>
          <%= image_tag root_post.picture_url(:thumb), class: 'card-img-top' %>
        <% end %>
    <% end %>
    <% if root_post.subject != '' %><div class="card-header"><%= root_post.subject %></div><% end %>
    <% if root_post.body != '' %><div class="card-body"><p class="card-text"><%= root_post.body %></p></div><% end %>
</div>
