<div class="card post post-full root-post <%= 'sticky' if root_post.sticky %>" id="root-<%= root_post.id %>">

  <div class="card-body<%= ' replies-after' if root_post.root_reply_ids.any? || root_post.child_reply_ids.any? %>">
    <div class="row post-header">
      <div class="col">
        <div class="post-details">
          <div class="post-detail" id="user-name" title="username"><strong><%= root_post.user.anonymous ? 'Anonymous' : root_post.user.user_name %></strong> </div>
          <% if root_post.subject != '' %><div class="post-detail" id="subject" title="subject"><strong><%= root_post.subject %></strong></div> <% end %>
          <div class="post-detail" id="id" title="id"><a><strong>##<%= root_post.id %></strong></a></div>
          <div class="post-detail" id="timestamp-created" title="created <%= root_post.created_at %>"><strong><%= time_ago_in_words(root_post.created_at) %> ago </strong></div>
          <% if root_post.created_at != root_post.updated_at %>
          <div class="post-detail" id="timestamp-edited" title="edited <%= root_post.updated_at %>"><strong><%= time_ago_in_words(root_post.updated_at) %> ago</strong></div>
          <% end %>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="dropdown post-actions">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <%= link_to [board, root_post], class: "dropdown-item" do %>Link<% end %>      
            <% if can? :modify, root_post %>
              <%= link_to [:edit, board, root_post], class: "dropdown-item" do %>Edit<% end %>
              <%= link_to [board, root_post], method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" do %>Delete<% end %>      
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row post-content">
      <div class="col">
        <div class="card-text text-light"><%= markdown root_post.body %></div>
      </div>
      <div class="col-md-auto">
        <div class="col">
        </div>
        <% if root_post.picture.present? %>
        <div class="col post-image">
          <%= link_to root_post.picture_url do %>
            <%= image_tag root_post.picture_url(:thumb) %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= replies root_post if root_post.root_reply_ids.any? || root_post.child_reply_ids.any? %>
    </div>
  </div>
</div>

<!--
<div class="root-post post <%= 'sticky' if root_post.sticky %>" id="root-<%= root_post.id %>">
  <a class="post-anchor" name="#<%= root_post.id %>"></a>
  <div class="post-contents">
    <div class="post-left-col">
      <div class="post-details">
        <div class="post-detail" id="user-name" title="username"><strong><%= root_post.user.anonymous ? 'Anonymous' : root_post.user.user_name %></strong> </div>
        <% if root_post.subject != '' %><div class="post-detail" id="subject" title="subject"><strong><%= root_post.subject %></strong></div> <% end %>
        <div class="post-detail" id="id" title="id"><a><strong>##<%= root_post.id %></strong></a></div>
        <div class="post-detail" id="timestamp-created" title="<%= root_post.created_at %>"><strong><%= time_ago_in_words(root_post.created_at) %> ago </strong></div>
        <% if root_post.created_at != root_post.updated_at %>
        <div class="post-detail" id="timestamp-edited" title="<%= root_post.updated_at %>"><strong><%= time_ago_in_words(root_post.updated_at) %> ago</strong></div>
        <% end %>
      </div>
      <div class="post-body"><p><%= markdown root_post.body %></p></div>
    </div>

    <div class="post-right-col">
      <div class="post-links">
        <% if can? :modify, root_post %>
          <%= link_to [board, root_post], method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" do %><i class="material-icons">delete</i><% end %>      
          <%= link_to [:edit, board, root_post], class: "edit" do %><i class="material-icons">create</i><% end %>
        <% end %>
        <%= link_to [board, root_post], class: "link" do %> <i class="material-icons">link</i><% end %>      
      </div>
      <% if root_post.picture.present? %>
        <div class="post-image">
          <%= link_to root_post.picture_url do %>
            <%= image_tag root_post.picture_url(:thumb) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= replies root_post if root_post.root_reply_ids.any? || root_post.child_reply_ids.any? %>
</div>
-->
