<p id="notice"><%= notice %></p>

<h1>Threads</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Body</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @root_posts.each do |root_post| %>
      <tr>
        <td><%= root_post.subject %></td>
        <td><%= root_post.body %></td>
        <td><%= root_post.picture %></td>
        <td><%= link_to 'Show', root_post %></td>
        <td><%= link_to 'Edit', edit_root_post_path(root_post) %></td>
        <td><%= link_to 'Destroy', root_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thread', new_root_post_path %>
