<p>
  <strong>Subject:</strong>
  <%= @root_post.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @root_post.body %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@root_post.picture_url, width: 600) if @root_post.picture.present? %>

  <h3>Comments</h3>
  <% @child_posts.each do |child_post| %>
    <div class="child_post">
      <%# <strong><%= child_post.user_name %\></strong> %>
      <%# <br> %>
      <p><%= child_post.body %></p>
      <p><%= image_tag(child_post.picture_url, width: 600) if child_post.picture.present? %></p>
      <p><%= link_to 'Delete', child_post_path(child_post), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>
</p>
<%= render partial: 'child_posts/form', locals: { child_post: @child_post } %>

<%= link_to 'Edit', edit_root_post_path(@root_post) %> |
<%= link_to 'Back', root_posts_path %>
