<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark side-nav" id="main-nav">
  <%= link_to '>_', root_path, class: 'navbar-brand' %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">

      <hr class="lg-up-only rainbow">

      <div class="user-section">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Account', edit_user_registration_path, class: 'nav-link' %>
        </li>
      </div>

      <% if current_user.admin? %>
      <hr class="lg-up-only admin-section">
      <div class="admin-section">
        <li class="nav-item">
          <%= link_to 'Dashboard', '/admin', class: 'nav-link' %>
        </li>
      </div>
      <% end %>
 
      <hr class="lg-up-only">
      
      <div class="rooms-section">
        <li class="nav-item" id="nav-home">
          <%= link_to 'Rooms', rooms_path, class: 'nav-link' %>
          <ul class="text-light">
            <% current_user.rooms.each do |room| %>
              <li>#<%= link_to room.name, room, data: {behavior: 'room-link', room_id: room.id}, class: ['hash-color', get_hash_color(room.name) + '-text'] %></li>
            <% end %>
          </ul>
        </li>
      </div>

      <hr class="lg-up-only">
      
      <div class="boards-section">
        <li class="nav-item">
          <nav class="nav-bread" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page"><%= link_to 'Boards', boards_path, class: 'nav-link' %></li>
              <% if @board%><li class="breadcrumb-item" aria-current="page"><%= link_to @board, class: ['board-abbreviation', 'hash-color', get_hash_color(@board.name) + '-text'] do %><%= @board.abbreviation %><% end %></li><% end %>
              <% if @root_post && @child_posts %><li class="breadcrumb-item active" aria-current="page"><%= @root_post.id %></li><% end %>
            </ol>
          </nav>
        </li>
        <% if @root_post && @child_posts %>
        <li class="nav-link thread-stats text-light" title="[Post Count / File Count / User Count] [Update Timer]">
          [
          <div class="post-count"><%= 1 + @child_posts.count %></div>/
          <div class="file-count"><%= @root_post.file_count %></div>/
          <div class="user-count"><%= (@child_posts.where(user_id: @root_post.user.id).exists? ? 0:1) + @child_posts.distinct.count(:user_id) %></div>
          ]&nbsp;
          [<div class="updater">?</div>]
        </li>
        <% end %>
      </div>

      <hr class="lg-up-only">
      
      <li class="nav-item logout">
        <%= link_to 'Info', '/pages/info', class: 'nav-link' %>
      </li>

      <hr class="lg-up-only">

      <li class="nav-item" id="logout">
        <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link', method: :delete %>
      </li>

      <%= form_with url: search_path, local: true, method: :get, html: {class: 'site-search'} do |f| %>
        <%= f.text_field :q, placeholder: 'Search', data: {behavior: 'autocomplete'}, class: 'form-control mr-sm-2' %>
      <% end %>

    </ul>
  </div>
</nav>
<% end %>
